@import './mixins.less';
@import './live/index.less';

.navigation{
	height: 100vh;
	.sider{
		padding-top: 50px;
		background-color: @white;
	}
	.container{
		margin: 20px 15px;
		background-color: @white;
	}
}
.pagination{
	padding: 0 50px;
	text-align: right;
	height: 47px;
	line-height: 47px;
	border-top: 1px solid #ccc;
	background: #fff;
	ul.ant-pagination{
		line-height: 47px;
		margin: 0;
		width: 100%;
		text-align: right;
	}
}
.courseModal, .lesson-self-modal{
	.ant-avatar{
		width: 200px;
	}
}
.lesson{
	.title{
		padding: 10px 0 0 15px;
	}
}
.courseDetail {
	.ant-avatar{
		width: 200px;
	}
	.ant-modal-footer{
		.anticon-loading{
			color: @white;
		}
	}
}
.liveControl{
	.assistant-msg{
		.box{
			height: 350px;
			overflow-y: auto;
		}
		.editor{
			padding: 0 !important;
			padding-bottom: 15px !important;
		}
	}
	.box{
		height: 780px;
		overflow-y: auto;
	}
	.blocked{
		background-color: @light-dark;
	}
}
.newMemberModal{
	.edit-row{
		.plus{
			font-size: 30px;
			color: @primary-blue !important;
		}
		.form-group-item{
			.form-group-item-heading{
				width: 80px;
				text-align: left;
			}
			.form-group-item-body{
				margin-left: 80px;
			}
		}
	}
}
.couponModal{
	.course{
		width: 350px !important;
	}
}