@import '../mixins.less';

.liveStatistics{
	.form-group-item {
		.form-group-item-heading {
			width: 150px;
		}
		.form-group-item-body{
			margin-left: 150px;
			text-align: left;
			line-height: 31px;
		}
	}
}
.ppt{
	.avatars{
		height: 150px !important;
		width: 256px !important;
	}
	.footer{
		position: fixed;
		bottom: 50px;
		.ant-select{
			width: 10% !important;
		}
	}
}