@import '../mixins.less';

.liveStatistics{
	.form-group-item {
		.form-group-item-heading {
			width: 150px;
		}
		.form-group-item-body{
			margin-left: 150px;
			text-align: left;
			line-height: 31px;
		}
	}
}
.pptop{
	.avatars{
		height: 150px !important;
		width: 256px !important;
	}
	.footer{
		position: fixed;
		bottom: 50px;
		.ant-select{
			width: 10% !important;
		}
	}
}
.ppt{
	.currentImg{
		width: 60vw !important;
		height: 70vh !important;
	}
	.nextImg{
		width: 30vw !important;
		height: 28vh !important;
	}
	.footer{
		background-color: #f0f2f5;
		height: 150px;
		padding: 15px 30px;
		position: fixed;
		bottom: 10px;
		.left, .right{
			button{
				height: 90px;
			}
		}
		.current{
			outline: 2px @primary-color solid;
		}
	}
}